:root {
  --nav-height: 48px;
  --body-max-width: 1040px;
  --font-size-normal: 14px;
  --font-size-small: 12px;
  --font-size-large: 18px;
  --font-size-x-large: 24px;
  --color-primary: #d86313;
  --color-primary-light: #ED7D31;
  --color-foreground: #0e0e0e;
  --color-foreground-light: #464646;
  --color-foreground-lighter: #e0e0e0;
  --font-default: "Source Sans Pro", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-foreground-lighter);
  padding: 14px 0;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  width: 100%;
  max-width: var(--body-max-width);
  padding: 8px 16px;
}
header nav .nav-left img {
  height: calc(var(--nav-height) - 10px);
}
header nav .nav-right ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header nav .nav-right ul li {
  margin: 0 10px;
}
header nav .nav-right ul li a {
  font-size: var(--font-size-normal);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-foreground);
}
header nav .nav-right ul li a:hover {
  color: var(--color-primary);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
main section {
  width: 100%;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 20px;
  background-color: var(--color-primary-light);
}
#search h2 {
  color: #fff;
  margin: 8px 0;
}
#search form {
  display: flex;
  border: 1px solid var(--color-foreground-lighter);
  padding: 8px 16px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
}
#search form input, #search form select, #search form button {
  border: 0;
  outline: 0;
  padding: 4px 6px;
  background-color: transparent;
  font-size: var(--font-size-small);
  font-weight: 600;
}
#search form input, #search form select {
  width: 196px;
  margin-right: 4px;
}
#search form input:not(:first-child), #search form select:not(:first-child) {
  border-left: 1px solid var(--color-foreground-lighter);
}
#search form select, #search form button {
  cursor: pointer;
}
#search form button {
  margin-left: 6px;
  color: var(--color-primary-light);
}
#search form button:hover {
  color: var(--color-primary);
}

#destinations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#destinations .destination {
  position: relative;
  margin: 16px 10px;
  width: 200px;
  height: 130px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}
#destinations .destination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  margin: 0;
}
#destinations .destination h3 {
  position: absolute;
  top: calc(100% - 32px);
  height: 32px;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: var(--font-size);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
#destinations .destination:hover h3 {
  height: 100%;
  top: 0;
}

#inquiry {
  width: calc(100% - 48px);
  max-width: var(--body-max-width);
  margin: 32px 0;
  max-width: var(--body-max-width);
}
#inquiry .tabs {
  margin-left: 32px;
}
#inquiry .tabs .tab {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  width: 176px;
  padding: 10px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#inquiry .tabs .tab.active {
  color: #fff;
  background-color: var(--color-primary);
}
#inquiry .tabs .tab:hover:not(.active) {
  color: #fff;
  background-color: var(--color-primary-light);
}
#inquiry form {
  padding: 24px 12px;
  border: 1px solid var(--color-primary-light);
  border-radius: 16px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}
#inquiry form.active {
  display: flex;
}
#inquiry form .form-field {
  border: 0;
  margin: 0;
  width: 50%;
  flex-basis: 50%;
}
#inquiry form .form-field label {
  font-size: var(--font-size-small);
  padding: 4px 4px;
  font-weight: 600;
  height: calc(var(--font-size-small) + 8px);
}
#inquiry form .col-1 {
  width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
#inquiry form .col-2 {
  width: 25%;
  flex-basis: 25%;
}
#inquiry form .col-3 {
  width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
#inquiry form .col-4 {
  width: 50%;
  flex-basis: 50%;
}
#inquiry form .col-8 {
  width: 100%;
  flex-basis: 100%;
}
#inquiry form .form-field:not(.inline) {
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
}
#inquiry form .form-field.inline {
  padding: 32px 10px 10px;
}
#inquiry form input, #inquiry form select, #inquiry form textarea {
  padding: 4px 6px;
  outline: 0;
  border: 1px solid var(--color-foreground-lighter);
  border-radius: 4px;
  background-color: transparent;
}
#inquiry form button {
  margin-top: 16px;
  margin-left: auto;
  margin-right: 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 8px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--color-primary-light);
  color: #fff;
}
#inquiry form button:hover {
  background-color: var(--color-primary);
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: var(--body-max-width);
  margin: 16px 0 32px;
}
.services h2 {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-primary);
  font-size: var(--font-size-large);
  margin-bottom: 32px;
  font-weight: 600;
}
.services p {
  width: 100%;
  text-align: center;
  color: var(--color-foreground-light);
  margin: 0;
  font-size: var(--font-size-small);
}
.services .service {
  width: 120px;
  margin: 0px 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.services .service svg {
  width: 32px;
}
.services .service:hover {
  color: var(--color-primary);
}
.services .service:hover svg {
  stroke: var(--color-primary);
}
.services .service h3 {
  font-weight: 300;
  text-transform: capitalize;
  font-size: var(--font-size);
  margin: 0;
}

.activities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: var(--body-max-width);
  margin: 16px 0;
}
.activities h2 {
  width: 100%;
  flex-basis: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--font-size-large);
  margin: 0 10px 10px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-foreground-light);
}
.activities h2 a {
  color: var(--color-foreground);
  text-decoration: none;
}
.activities h2 a:hover {
  color: var(--color-foreground-light);
  border-bottom-color: --color-foreground-lighter;
}
.activities p {
  width: 100%;
  text-align: right;
}
.activities p a {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-foreground);
  margin: 0 16px;
}
.activities p a:hover {
  color: var(--color-foreground-light);
}
.activities p a i {
  margin-left: 8px;
}
.activities .activity {
  position: relative;
  margin: 16px 10px;
  width: 240px;
  height: 160px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  transition: 0.1s all ease-in-out;
}
.activities .activity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  margin: 0;
}
.activities .activity h3 {
  position: absolute;
  top: calc(100% - 32px);
  height: 32px;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: var(--font-size);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.activities .activity:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-light);
  padding: 24px 0;
}
.info > div {
  margin: 4px 0;
  color: #fff;
}
.info > div.icons {
  display: flex;
}
.info > div p {
  margin: 4px 0;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 600;
}
.info > div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  margin: 0 14px;
  font-size: var(--font-size-normal);
}
.info > div a i {
  font-size: var(--font-size-x-large);
}
.info > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

footer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
footer #footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--color-foreground-lighter);
  border-bottom: 1px solid var(--color-foreground-lighter);
  padding: 32px 0 20px;
}
footer #footer-container > section {
  width: 25%;
  padding: 0 32px;
}
footer #footer-container > section h3 {
  width: 100%;
  flex-basis: 100%;
  margin: 0 0 16px;
  font-weight: 400;
  font-size: var(--font-size-large);
  color: var(--color-primary);
}
footer #footer-container > section p {
  margin: 4px 0;
  font-size: var(--font-size-normal);
}
footer #footer-container #contact {
  flex-direction: column;
}
footer #footer-container #contact i {
  width: 24px;
}
footer #footer-container #associated-with img {
  height: 46px;
  margin: 8px;
}
footer #footer-container #payment-option img {
  height: 32px;
  margin: 8px;
}
footer #footer-container #extra > div {
  display: flex;
}
footer #footer-container #extra > div a {
  margin: 0 16px 0 0;
}
footer #footer-container a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer #footer-container a:hover {
  color: #444;
}
footer #legal {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
}

/*# sourceMappingURL=index.css.map */
