
:root {
    --nav-height: 48px;
    --body-max-width: 1040px;

    --font-size-normal: 14px;
    --font-size-small: 12px;
    --font-size-large: 18px;
    --font-size-x-large: 24px;

    --color-primary: #d86313;
    --color-primary-light: #ED7D31;

    --color-foreground: #0e0e0e;
    --color-foreground-light: #464646;
    --color-foreground-lighter: #e0e0e0;

    --font-default: 'Source Sans Pro', sans-serif;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-foreground-lighter);
    padding: 14px 0;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--nav-height);
        width: 100%;
        max-width: var(--body-max-width);
        padding: 8px 16px;

        .nav-left {
            img {
                height: calc(var(--nav-height) - 10px);
            }
        }

        .nav-right {
            ul {
                display: flex;
                list-style: none;
                padding: 0;

                li {
                   margin: 0 10px;

                   a {
                       font-size: var(--font-size-normal);
                       text-decoration: none;
                       text-transform: uppercase;
                       color: var(--color-foreground);

                       &:hover {
                           color: var(--color-primary);
                       }
                   }
                }
            }
        }
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    section {
        width: 100%;
    }
}


#search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 20px;
    background-color: var(--color-primary-light);

    h2 {
        color: #fff;
        margin: 8px 0;
    }

    form {
        display: flex;
        border: 1px solid var(--color-foreground-lighter);
        padding: 8px 16px;
        height: 48px;
        border-radius: 24px;
        background-color: white;

        input, select, button {
            border: 0;
            outline: 0;
            padding: 4px 6px;
            background-color: transparent;
            font-size: var(--font-size-small);
            font-weight: 600;
        }

        input, select {
            width: 196px;
            margin-right: 4px;

            &:not(:first-child) {
                border-left: 1px solid var(--color-foreground-lighter);
            }
        }

        select, button {
            cursor: pointer;
        }

        button {
            margin-left: 6px;
            color: var(--color-primary-light);

            &:hover {
                color: var(--color-primary);
            }
        }
    }
}

#destinations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .destination {
        position: relative;
        margin: 16px 10px;
        width: 200px;
        height: 130px;
        color: #fff;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            margin: 0;
        }

        h3 {
            position: absolute;
            top: calc(100% - 32px);
            height: 32px;
            width: 100%;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.75);
            font-weight: 400;
            font-size: var(--font-size);

            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;

            transition: all 0.3s ease-in-out;
        }

        &:hover {
            h3 {
                height: 100%;
                top: 0;
            }
        }
    }
}

#inquiry {
    width: calc(100% - 48px);
    max-width: var(--body-max-width);
    margin: 32px 0;
    max-width: var(--body-max-width);

    .tabs {
        margin-left: 32px;

        .tab {
            background-color: transparent;
            border: 0;
            outline: 0;
            cursor: pointer;
            text-transform: uppercase;
            width: 176px;
            padding: 10px 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            &.active {
                color: #fff;
                background-color: var(--color-primary);
            }

            &:hover:not(.active) {
                color: #fff;
                background-color: var(--color-primary-light);
            }
        }
    }

    form {
        padding: 24px 12px;
        border: 1px solid var(--color-primary-light);
        border-radius: 16px;

        display: none;
        flex-direction: row;
        flex-wrap: wrap;

        &.active {
            display: flex;
        }

        .form-field {
            border: 0;
            margin: 0;
            width: 50%;
            flex-basis: 50%;

            label {
                font-size: var(--font-size-small);
                padding: 4px 4px;
                font-weight: 600;
                height: calc(var(--font-size-small) + 8px)
            }
        }

        .col-1 {
            width: calc(50% / 3);
            flex-basis: calc(50% / 3);
        }
        .col-2 {
            width: 25%;
            flex-basis: 25%;
        }
        .col-3 {
            width: calc(50% * 2 / 3);
            flex-basis: calc(50% * 2 / 3);
        }
        .col-4 {
            width: 50%;
            flex-basis: 50%;
        }
        .col-8 {
            width: 100%;
            flex-basis: 100%;
        }

        .form-field:not(.inline) {
            display: flex;
            flex-direction: column;
            padding: 6px 10px;
        }

        .form-field.inline {
            padding: 32px 10px 10px;
        }

        input, select, textarea {
            padding: 4px 6px;
            outline: 0;
            border: 1px solid var(--color-foreground-lighter);
            border-radius: 4px;
            background-color: transparent;
        }

        button {
            margin-top: 16px;
            margin-left: auto;
            margin-right: 16px;
            cursor: pointer;
            border: 0;
            outline: 0;
            padding: 8px 10px;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 600;
            background-color: var(--color-primary-light);
            color: #fff;

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: var(--body-max-width);

    margin: 16px 0 32px;

    h2 {
        width: 100%;
        flex-basis: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--color-primary);
        font-size: var(--font-size-large);
        margin-bottom: 32px;
        font-weight: 600;
    }

    p {
        width: 100%;
        text-align: center;
        color: var(--color-foreground-light);
        margin: 0;
        font-size: var(--font-size-small);
    }

    .service {
        width: 120px;
        margin: 0px 20px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            // border-radius: 50%;
            // border: 1px solid var(--color-foreground-light);
            // padding: 12px;
            width: 32px;
        }

        &:hover {
            color: var(--color-primary);

            svg {
              stroke: var(--color-primary);
            }
        }

        h3 {
            font-weight: 300;
            text-transform: capitalize;
            font-size: var(--font-size);
            margin: 0;
        }
    }
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: var(--body-max-width);

    margin: 16px 0;

    h2 {
        width: 100%;
        flex-basis: 100%;
        // text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: var(--font-size-large);
        margin: 0 10px 10px;
        font-weight: 600;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--color-foreground-light);

        a {
            color: var(--color-foreground);
            text-decoration: none;

            &:hover {
                color: var(--color-foreground-light);
                border-bottom-color: (--color-foreground-lighter);
            }
        }
    }

    p {
        width: 100%;
        text-align: right;

        a {
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            color: var(--color-foreground);
            margin: 0 16px;

            &:hover {
                color: var(--color-foreground-light);
            }

            i {
                margin-left: 8px;
            }
        }
    }

    .activity {
        position: relative;
        margin: 16px 10px;
        width: 240px;
        height: 160px;
        color: #fff;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
        transition: 0.1s all ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            margin: 0;
        }

        h3 {
            position: absolute;
            top: calc(100% - 32px);
            height: 32px;
            width: 100%;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.75);
            font-weight: 400;
            font-size: var(--font-size);

            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            font-weight: 400;

            transition: all 0.3s ease-in-out;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
    padding: 24px 0;

    > div {
        margin: 4px 0;
        color: #fff;

        &.icons {
            display: flex;
        }

        p {
            margin: 4px 0;
            text-align: center;
            font-size: var(--font-size);
            font-weight: 600;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: inherit;
            text-decoration: none;
            margin: 0 14px;
            font-size: var(--font-size-normal);

            i {
                font-size: var(--font-size-x-large);
            }

            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;

    #footer-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid var(--color-foreground-lighter);
        border-bottom: 1px solid var(--color-foreground-lighter);
        padding: 32px 0 20px;

        > section {
            width: calc(100% / 4);
            padding: 0 32px;

            h3 {
                width: 100%;
                flex-basis: 100%;
                margin: 0 0 16px;
                font-weight: 400;
                font-size: var(--font-size-large);
                color: var(--color-primary);
            }
            p {
                margin: 4px 0;
                font-size: var(--font-size-normal);
            }
        }

        #contact {
            flex-direction: column;

            i {
                width: 24px;
            }
        }

        #associated-with img {
            height: 46px;
            margin: 8px;
        }

        #payment-option img {
            height: 32px;
            margin: 8px;
        }

        #extra {
            > div {
                display: flex;

                a {
                    margin: 0 16px 0 0;
                }
            }
        }

        a {
            color: #000;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #444;
            }
        }
    }


    #legal {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-small);
    }
}
