:root {
    --body-max-width: 1200px;
    
    --nav-bar-height: 56px;
    --title-img-height: 600px;
    

    --font-family-default: 'Fredoka', sans-serif;

    --font-size-small: 12px;
    --font-size-normal: 14px;
    --font-size-large: 18px;
    --font-size-x-large: 24px;

    --color-primary: #d86313;
    --color-primary-light: #DF8D57;
    --color-primary-dark: #A64B0F;

    --color-border: #4a4a4a;
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body, input, button {
    font-family: var(--font-family-default);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        max-width: var(--body-max-width);
        height: var(--nav-bar-height);

        .left {
            height: 100%;
            padding: 8px;

            img {
                height: 100%;
            }
        }

        .right {
            a {
                text-decoration: none;
                color: #000;
                margin: 0 8px;

                &:hover {
                    color: #555;
                }
            }
        }
    }

    .title-img {
        background-image: url('../assets/img/title-bg-1.jpg');
        height: var(--title-img-height);
        width: 100%;

        background-size: cover;
        background-position: top;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        .form-container {
            padding: 24px;
            margin-bottom: 56px;

            display: flex;
            flex-direction: column;

            .tabs {
                display: flex;
                justify-content: center;

                button {
                    margin: 0 4px;
                    height: 28px;
                    border-radius: calc(28px / 2);
                    width: 80px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #fff;
                    box-shadow: 0px 0px 11px -5px #000000;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: var(--color-primary-light);
                        color: #fff;
                    }

                    &.active {
                        background-color: var(--color-primary);
                        color: #fff;
                    }
                }
            }

            form {
                display: flex;
                border: 1px solid var(--color-border);
                height: 52px;
                border-radius: calc(52px / 2);
                padding: 6px 20px;
                margin: 8px;
                background-color: #fff;
                box-shadow: 0px 0px 11px -5px #000000;

                .field {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: var(--font-size-small);
                        color: #000;
                        padding: 0 8px;
                    }

                    input {
                        height: 28px;
                        padding: 4px 8px;
                        border-radius: 4px;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        width: 320px;
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: var(--color-primary);
                    font-size: var(--font-size-large);
                    width: 64px;

                    &:hover {
                        color: var(--color-primary-light);
                    }
                }
            }
        }
    }
}
